*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.p-none{
    display: none;
}
.d-none{
    display: none;
}
.l-none{
    display: none;
}
.a-none{
    display: none;
}

body{
    background-color: #47B5FF;
    font-family: Cambria,'Quicksand', sans-serif;
    font-size: 50%;
}

header{
    display: inline;
    width: fit-content;
}
nav{
    padding: 20px;
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 1.2vw;
    background-color: #256D85;
    font-weight: bold;
}
nav a{
    font-size: 2vw;
    font-weight: 400;
    text-decoration: none;
    color:#ffffff;
}
nav a:hover{  
    font-weight: bold;
}
nav li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    
}
h1{
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 2vw;
    font-weight: bold;
}

.menu {
    margin: 20px auto;
    width: 700px;
    padding: 10px;
    border: 1px solid #ccc;
    background: lightblue;
}


.awal {
    margin: 5px auto;
    width: 100%;
    padding: 10px;
    font-size: 1.5vw;
    
}
.awal2 {
    margin: 5px auto;
    width: 100%;
    padding: 10px;
    font-size: 1.5vw;
}
.awal3 {
    margin: 5px auto;
    width: 100%;
    padding: 10px;
    font-size: 1.5vw;
}
.awal4 {
    margin: 5px auto;
    width: 100%;
    padding: 10px;
    font-size: 1.5vw;
}

.button {
    text-align: center;
    margin: 5px auto;
    width: 20%;
    padding: 20px;
    right: 20%;
    font-size: 1.5vw;
}

.tabel{
    border: 2px solid black;
    height: 400px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    
    border: 1px solid black;
}
th,
td{
    text-align: center;
    padding: 16px;
}
th{
    background-color: #256D85;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
}
tr:nth-child(even){
    background-color: #d2d2d2;
}
tbody{
    font-size: 1.5vw;
    border: 2px solid black ;
}
footer{
    text-align: center;
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 1.2vw;
    background-color: #256D85;
    text-align: center;
    font-weight: bold;
}

